<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<header class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <h1 id="titulo" class="display-4 text-white ">WikiDisney</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/personajes">Personajes</a>
          </li>
        </ul>
        
      </div>
      <div class="text-end">
        
          <a href="/login"><button type="button" class="btn btn-outline-light me-2">Iniciar sesion</button></a>
          <a href="/register"><button type="button" class="btn btn-outline-light" >Registrarse</button></a>
       
      </div>
    </div>
  </nav>
</header>
