
<div id="container">

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
  </div>

  <ul class="nav col-md-4 justify-content list-unstyled d-flex">
    <li class="ms-3">
      <a class="text-body-secondary" href="/">
        <img src="assets/Casa.png" alt="Casa" width="24" height="24">
      </a>
    </li>
    <li class="ms-3">
      <a class="text-body-secondary" href="/personajes">
        <img src="assets/Disney.png" alt="Disney" width="24" height="24">
      </a>
    </li>
  </ul>
</footer>
</div>