
<div id="container">

  

    <div class="card mb-3" style="max-width: 740px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/Mickey.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Personajes Disney</h5>
              <p class="card-text">Aprende todos los datos y todas las curiosidades de los mas de 5000 personajes del universo Disney en el apartado <a href="/personajes">Personajes</a> </p>
              <p class="card-text"><small class="text-body-secondary">Mickey Mouse</small></p>
            </div>
          </div>
        </div>
      </div>




      <div class="card mb-3" style="max-width: 740px;">

        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">Registrate</h5>
              <p class="card-text">Si no te has registrado aun, regristrate ya <a href="/register">Registrarse</a>  para no perderte ninguna novedad.</p>
              <p class="card-text"><small class="text-body-secondary">Pinocho</small></p>  
          </div>
        </div>
          <div class="col-md-4">
            
             
              <img src="assets/Pinocho.jpg" class="img-fluid rounded-end" alt="...">
            </div>
         

          
        </div>
      </div>

    
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="width: 50%; margin: auto;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/Imagen2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/imgLogin.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/Imagen3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>


</div>